services:
  # MQTT Broker (Mosquitto)
  mqtt:
    image: eclipse-mosquitto:latest
    container_name: smarthome-mqtt
    ports:
      - "1883:1883" # Port Mqtt (Backend)
      - "9001:9001" # Port WebSockets (Frontend)
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    restart: unless-stopped

  # API (.NET Backend + SQLite)
  api:
    build:
      context: ./backend/src
      dockerfile: SmartHome.Api/Dockerfile
    container_name: smarthome-api
    ports:
      - "5000:8080" # http://localhost:5000/swagger
      - "9000:9000"
    volumes:
      # map Database folder to /app/db in container
      - ./backend/src/SmartHome.Api/Database:/app/db
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__SqliteConnection=Data Source=/app/db/smarthome.db
      - MqttSettings__Host=mqtt
      - MqttSettings__Port=1883
    depends_on:
      - mqtt
  simulator:
    build:
      context: ./backend/src
      dockerfile: SmartHome.Simulator/Dockerfile
    container_name: smarthome-simulator
    environment:
      # Point to the internal Docker service names and ports
      - API_URL=http://api:8080/api/devices/all-system
      - BROKER_HOST=mqtt
      - BROKER_PORT=1883
    depends_on:
      - api
      - mqtt
    restart: unless-stopped
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: smarthome-frontend
    ports:
      - "5173:5173"
    environment:
      # React runs in browser, so it MUST use host's localhost to reach the API
      - VITE_API_URL=http://localhost:5000/api
    volumes:
      # Mount local source code to get live-reloading when edit files
      - ./frontend/src:/app/src
    depends_on:
      - api
